<!--golden-layout-root #comp [layout]="layoutConfig$" 
    (stateChanged)="stateChange()" 
    (tabActivated)="tabActivated($event)"
    (windowOpened)="windowOpened()"
    (windowClosed)="windowClosed()"
    (selectionChanged)="selectionChanged()"
    (itemDestroyed)="itemDestroyed()"
    (itemCreated)="itemCreated()"
    (componentCreated)="componentCreated()"
    (rowCreated)="rowCreated()"
    (columnCreated)="columnCreated()"
    (stackCreated)="stackCreated()"
    (tabCreated)="tabCreated()"></golden-layout-root>-->
