/* You can add global styles to this file, and also import other style files */
@import "~golden-layout/src/css/goldenlayout-base.css";
@import "~golden-layout/src/css/goldenlayout-light-theme.css";

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
body .lm_content{
  overflow: scroll;
  background-color: white;
}

